/*

Original style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/

pre.jshighlight__theme__default code {
  display: block; padding: 0.5em;
  background: #F0F0F0;
}

pre.jshighlight__theme__default code,
pre.jshighlight__theme__default .subst,
pre.jshighlight__theme__default .tag .title,
pre.jshighlight__theme__default .lisp .title,
pre.jshighlight__theme__default .clojure .built_in,
pre.jshighlight__theme__default .nginx .title {
  color: black;
}

pre.jshighlight__theme__default .string,
pre.jshighlight__theme__default .title,
pre.jshighlight__theme__default .constant,
pre.jshighlight__theme__default .parent,
pre.jshighlight__theme__default .tag .value,
pre.jshighlight__theme__default .rules .value,
pre.jshighlight__theme__default .rules .value .number,
pre.jshighlight__theme__default .pre.jshighlight__theme__defaultprocessor,
pre.jshighlight__theme__default .haml .symbol,
pre.jshighlight__theme__default .ruby .symbol,
pre.jshighlight__theme__default .ruby .symbol .string,
pre.jshighlight__theme__default .aggregate,
pre.jshighlight__theme__default .template_tag,
pre.jshighlight__theme__default .django .variable,
pre.jshighlight__theme__default .smalltalk .class,
pre.jshighlight__theme__default .addition,
pre.jshighlight__theme__default .flow,
pre.jshighlight__theme__default .stream,
pre.jshighlight__theme__default .bash .variable,
pre.jshighlight__theme__default .apache .tag,
pre.jshighlight__theme__default .apache .cbracket,
pre.jshighlight__theme__default .tex .command,
pre.jshighlight__theme__default .tex .special,
pre.jshighlight__theme__default .erlang_repl .function_or_atom,
pre.jshighlight__theme__default .asciidoc .header,
pre.jshighlight__theme__default .markdown .header,
pre.jshighlight__theme__default .coffeescript .attribute {
  color: #800;
}

pre.jshighlight__theme__default .comment,
pre.jshighlight__theme__default .annotation,
pre.jshighlight__theme__default .template_comment,
pre.jshighlight__theme__default .diff .header,
pre.jshighlight__theme__default .chunk,
pre.jshighlight__theme__default .asciidoc .blockquote,
pre.jshighlight__theme__default .markdown .blockquote {
  color: #888;
}

pre.jshighlight__theme__default .number,
pre.jshighlight__theme__default .date,
pre.jshighlight__theme__default .regexp,
pre.jshighlight__theme__default .literal,
pre.jshighlight__theme__default .hexcolor,
pre.jshighlight__theme__default .smalltalk .symbol,
pre.jshighlight__theme__default .smalltalk .char,
pre.jshighlight__theme__default .go .constant,
pre.jshighlight__theme__default .change,
pre.jshighlight__theme__default .lasso .variable,
pre.jshighlight__theme__default .asciidoc .bullet,
pre.jshighlight__theme__default .markdown .bullet,
pre.jshighlight__theme__default .asciidoc .link_url,
pre.jshighlight__theme__default .markdown .link_url {
  color: #080;
}

pre.jshighlight__theme__default .label,
pre.jshighlight__theme__default .javadoc,
pre.jshighlight__theme__default .ruby .string,
pre.jshighlight__theme__default .decorator,
pre.jshighlight__theme__default .filter .argument,
pre.jshighlight__theme__default .localvars,
pre.jshighlight__theme__default .array,
pre.jshighlight__theme__default .attr_selector,
pre.jshighlight__theme__default .important,
pre.jshighlight__theme__default .pseudo,
pre.jshighlight__theme__default .pi,
pre.jshighlight__theme__default .haml .bullet,
pre.jshighlight__theme__default .doctype,
pre.jshighlight__theme__default .deletion,
pre.jshighlight__theme__default .envvar,
pre.jshighlight__theme__default .shebang,
pre.jshighlight__theme__default .apache .sqbracket,
pre.jshighlight__theme__default .nginx .built_in,
pre.jshighlight__theme__default .tex .formula,
pre.jshighlight__theme__default .erlang_repl .reserved,
pre.jshighlight__theme__default .prompt,
pre.jshighlight__theme__default .asciidoc .link_label,
pre.jshighlight__theme__default .markdown .link_label,
pre.jshighlight__theme__default .vhdl .attribute,
pre.jshighlight__theme__default .clojure .attribute,
pre.jshighlight__theme__default .asciidoc .attribute,
pre.jshighlight__theme__default .lasso .attribute,
pre.jshighlight__theme__default .coffeescript .property {
  color: #88F
}

pre.jshighlight__theme__default .keyword,
pre.jshighlight__theme__default .id,
pre.jshighlight__theme__default .title,
pre.jshighlight__theme__default .built_in,
pre.jshighlight__theme__default .aggregate,
pre.jshighlight__theme__default .css .tag,
pre.jshighlight__theme__default .javadoctag,
pre.jshighlight__theme__default .phpdoc,
pre.jshighlight__theme__default .yardoctag,
pre.jshighlight__theme__default .smalltalk .class,
pre.jshighlight__theme__default .winutils,
pre.jshighlight__theme__default .bash .variable,
pre.jshighlight__theme__default .apache .tag,
pre.jshighlight__theme__default .go .typename,
pre.jshighlight__theme__default .tex .command,
pre.jshighlight__theme__default .asciidoc .strong,
pre.jshighlight__theme__default .markdown .strong,
pre.jshighlight__theme__default .request,
pre.jshighlight__theme__default .status {
  font-weight: bold;
}

pre.jshighlight__theme__default .asciidoc .emphasis,
pre.jshighlight__theme__default .markdown .emphasis {
  font-style: italic;
}

pre.jshighlight__theme__default .nginx .built_in {
  font-weight: normal;
}

pre.jshighlight__theme__default .coffeescript .javascript,
pre.jshighlight__theme__default .javascript .xml,
pre.jshighlight__theme__default .lasso .markup,
pre.jshighlight__theme__default .tex .formula,
pre.jshighlight__theme__default .xml .javascript,
pre.jshighlight__theme__default .xml .vbscript,
pre.jshighlight__theme__default .xml .css,
pre.jshighlight__theme__default .xml .cdata {
  opacity: 0.5;
}
