/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

pre.jshighlight__theme__monokai_sublime code {
  display: block;
  padding: 0.5em;
  background: #23241f;
}
pre.jshighlight__theme__monokai_sublime .tag,
pre.jshighlight__theme__monokai_sublime code {
  color: #f8f8f2;
}
pre.jshighlight__theme__monokai_sublime .keyword,
pre.jshighlight__theme__monokai_sublime .function,
pre.jshighlight__theme__monokai_sublime .literal,
pre.jshighlight__theme__monokai_sublime .change,
pre.jshighlight__theme__monokai_sublime .winutils,
pre.jshighlight__theme__monokai_sublime .flow,
pre.jshighlight__theme__monokai_sublime .lisp .title,
pre.jshighlight__theme__monokai_sublime .clojure .built_in,
pre.jshighlight__theme__monokai_sublime .nginx .title,
pre.jshighlight__theme__monokai_sublime .tex .special {
  color: #66d9ef;
}
pre.jshighlight__theme__monokai_sublime .variable,
pre.jshighlight__theme__monokai_sublime .params {
  color: #fd9720;
}
pre.jshighlight__theme__monokai_sublime .constant {
  color: #66d9ef;
}
pre.jshighlight__theme__monokai_sublime .title,
pre.jshighlight__theme__monokai_sublime .class .title,
pre.jshighlight__theme__monokai_sublime .css .class {
  color: #a6e22e;
}
pre.jshighlight__theme__monokai_sublime .attribute,
pre.jshighlight__theme__monokai_sublime .symbol,
pre.jshighlight__theme__monokai_sublime .symbol .string,
pre.jshighlight__theme__monokai_sublime .tag .title,
pre.jshighlight__theme__monokai_sublime .value,
pre.jshighlight__theme__monokai_sublime .css .tag {
  color: #f92672;
}
pre.jshighlight__theme__monokai_sublime .number,
pre.jshighlight__theme__monokai_sublime .pre.jshighlight__theme__monokai_sublimeprocessor,
pre.jshighlight__theme__monokai_sublime .regexp {
  color: #ae81ff;
}
pre.jshighlight__theme__monokai_sublime .tag .value,
pre.jshighlight__theme__monokai_sublime .string,
pre.jshighlight__theme__monokai_sublime .css .id,
pre.jshighlight__theme__monokai_sublime .subst,
pre.jshighlight__theme__monokai_sublime .haskell .type,
pre.jshighlight__theme__monokai_sublime .ruby .class .parent,
pre.jshighlight__theme__monokai_sublime .built_in,
pre.jshighlight__theme__monokai_sublime .sql .aggregate,
pre.jshighlight__theme__monokai_sublime .django .template_tag,
pre.jshighlight__theme__monokai_sublime .django .variable,
pre.jshighlight__theme__monokai_sublime .smalltalk .class,
pre.jshighlight__theme__monokai_sublime .django .filter .argument,
pre.jshighlight__theme__monokai_sublime .smalltalk .localvars,
pre.jshighlight__theme__monokai_sublime .smalltalk .array,
pre.jshighlight__theme__monokai_sublime .attr_selector,
pre.jshighlight__theme__monokai_sublime .pseudo,
pre.jshighlight__theme__monokai_sublime .addition,
pre.jshighlight__theme__monokai_sublime .stream,
pre.jshighlight__theme__monokai_sublime .envvar,
pre.jshighlight__theme__monokai_sublime .apache .tag,
pre.jshighlight__theme__monokai_sublime .apache .cbracket,
pre.jshighlight__theme__monokai_sublime .tex .command,
pre.jshighlight__theme__monokai_sublime .prompt {
  color: #e6db74;
}
pre.jshighlight__theme__monokai_sublime .comment,
pre.jshighlight__theme__monokai_sublime .javadoc,
pre.jshighlight__theme__monokai_sublime .java .annotation,
pre.jshighlight__theme__monokai_sublime .python .decorator,
pre.jshighlight__theme__monokai_sublime .template_comment,
pre.jshighlight__theme__monokai_sublime .pi,
pre.jshighlight__theme__monokai_sublime .doctype,
pre.jshighlight__theme__monokai_sublime .deletion,
pre.jshighlight__theme__monokai_sublime .shebang,
pre.jshighlight__theme__monokai_sublime .apache .sqbracket,
pre.jshighlight__theme__monokai_sublime .tex .formula {
  color: #75715e;
}
pre.jshighlight__theme__monokai_sublime .coffeescript .javascript,
pre.jshighlight__theme__monokai_sublime .javascript .xml,
pre.jshighlight__theme__monokai_sublime .tex .formula {
  opacity: 0.5;
}
pre.jshighlight__theme__monokai_sublime .xml .javascript,
pre.jshighlight__theme__monokai_sublime .xml .vbscript,
pre.jshighlight__theme__monokai_sublime .xml .css,
pre.jshighlight__theme__monokai_sublime .xml .cdata {
  opacity: 0.5;
}
