/* Tomorrow Night Theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
.tomorrow-comment, pre.jshighlight__theme__tomorrow-night .comment, pre.jshighlight__theme__tomorrow-night .title {
  color: #969896;
}

.tomorrow-red, pre.jshighlight__theme__tomorrow-night .variable, pre.jshighlight__theme__tomorrow-night .attribute, pre.jshighlight__theme__tomorrow-night .tag, pre.jshighlight__theme__tomorrow-night .regexp, pre.jshighlight__theme__tomorrow-night .ruby .constant, pre.jshighlight__theme__tomorrow-night .xml .tag .title, pre.jshighlight__theme__tomorrow-night .xml .pi, pre.jshighlight__theme__tomorrow-night .xml .doctype, pre.jshighlight__theme__tomorrow-night .html .doctype, pre.jshighlight__theme__tomorrow-night .css .id, pre.jshighlight__theme__tomorrow-night .css .class, pre.jshighlight__theme__tomorrow-night .css .pseudo {
  color: #cc6666;
}

.tomorrow-orange, pre.jshighlight__theme__tomorrow-night .number, pre.jshighlight__theme__tomorrow-night .pre.jshighlight__theme__tomorrow-nightprocessor, pre.jshighlight__theme__tomorrow-night .built_in, pre.jshighlight__theme__tomorrow-night .literal, pre.jshighlight__theme__tomorrow-night .params, pre.jshighlight__theme__tomorrow-night .constant {
  color: #de935f;
}

.tomorrow-yellow, pre.jshighlight__theme__tomorrow-night .ruby .class .title, pre.jshighlight__theme__tomorrow-night .css .rules .attribute {
  color: #f0c674;
}

.tomorrow-green, pre.jshighlight__theme__tomorrow-night .string, pre.jshighlight__theme__tomorrow-night .value, pre.jshighlight__theme__tomorrow-night .inheritance, pre.jshighlight__theme__tomorrow-night .header, pre.jshighlight__theme__tomorrow-night .ruby .symbol, pre.jshighlight__theme__tomorrow-night .xml .cdata {
  color: #b5bd68;
}

.tomorrow-aqua, pre.jshighlight__theme__tomorrow-night .css .hexcolor {
  color: #8abeb7;
}

.tomorrow-blue, pre.jshighlight__theme__tomorrow-night .function, pre.jshighlight__theme__tomorrow-night .python .decorator, pre.jshighlight__theme__tomorrow-night .python .title, pre.jshighlight__theme__tomorrow-night .ruby .function .title, pre.jshighlight__theme__tomorrow-night .ruby .title .keyword, pre.jshighlight__theme__tomorrow-night .perl .sub, pre.jshighlight__theme__tomorrow-night .javascript .title, pre.jshighlight__theme__tomorrow-night .coffeescript .title {
  color: #81a2be;
}

.tomorrow-purple, pre.jshighlight__theme__tomorrow-night .keyword, pre.jshighlight__theme__tomorrow-night .javascript .function {
  color: #b294bb;
}

pre.jshighlight__theme__tomorrow-night code {
  display: block;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

pre.jshighlight__theme__tomorrow-night .coffeescript .javascript,
pre.jshighlight__theme__tomorrow-night .javascript .xml,
pre.jshighlight__theme__tomorrow-night .tex .formula,
pre.jshighlight__theme__tomorrow-night .xml .javascript,
pre.jshighlight__theme__tomorrow-night .xml .vbscript,
pre.jshighlight__theme__tomorrow-night .xml .css,
pre.jshighlight__theme__tomorrow-night .xml .cdata {
  opacity: 0.5;
}
